// _typography
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css)
body
    font-family: 'Noto Sans TC', sans-serif

.t
    &-kv-title
        font-size: 6em
        font-weight: 700
    &-title
        font-size: 5em
        font-weight: 800
    &-txt
        font-size: 1em
        line-height: 1.5