$const: (
    root-of-2: 1.41421,
);
$color: (
    // main: #11acf0,
    test: red,
    9: #999999,
    main: #d34444,
    sec: #68684a,
    title: #a29578,
    bg: #fffee8
);

$img: (
    noise: '../images/noise.gif',
);

$time: (
    smooth: 100ms,
    transition: 200ms
);

$carousel: (
    time: (
        move: 500ms,
        sec-move: 250ms,
    )
);

$kv: (
    img: (
        back: '../images/kv-back-t.jpg',
        front: '../images/kv-front-t.png'
    ),
    time: (
        border-wave: 10s
    ),
    fn: (
        border-wave: cubic-bezier(0.21, 0.01, 0.76, 1)
    )
);

$cursor: (
    size: 16px,
    color: map-get($color, main),
    time: (
        in: 400ms,
        out: 300ms,
        click: 150ms
    ),
    fn: (
        trans: cubic-bezier(0.75, -1.27, 0.3, 2.33),
        opacity: ease-in
    )
);

$scrolldown: (
    size: 80px,
    stroke: 2px,
    color: map-get($color, 9),
    time: 1000ms,
    fn: linear,
    stretch-ratio: 2.5
);
$burger: (
    size: 50px,
    each-width: 70%,
    each-height: 8%,
    distance: 30%,
    color: map-get($color, 9),
    time: 400ms,
)