$color: (
    // main: #11acf0,
    test: red,
    9: #999999,
    main: #d34444,
    sec: #11acf0,
    bg: #fffdf1
);

$img: (
    noise: '../images/noise.gif',
);

$time: (
    smooth: 100ms,
    transition: 200ms
);

$carousel: (
    time: (
        move: 500ms,
        sec-move: 250ms,
    )
);

$kv: (
    img: (
        back: '../images/kv-back-t.jpg',
        front: '../images/kv-front-t.png'
    ),
    time: (
        border-wave: 10s
    ),
    fn: (
        border-wave: cubic-bezier(0.21, 0.01, 0.76, 1)
    )
);

$cursor: (
    color: map-get($color, main),
    time: (
        in: 400ms,
        out: 300ms
    ),
    fn: (
        trans: cubic-bezier(0.75, -1.27, 0.3, 2.33),
        opacity: ease-in
    )
);

$scrolldown: (
    size: 30px,
    root-of-2: 1.41421,
    stroke: 2px,
    color: map-get($color, 9),
    time: 700ms,
    fn: cubic-bezier(0, 1.08, 1, 1.28),
    stretch-ratio: 2.5
);