$color: (
    main: #11acf0,
    test: red
);

$img: (
    noise: '../images/noise.gif',
    back: '../images/kv-back.jpg',
    front: '../images/kv-front.png'
);

$time: (
    carousel-move: 500ms,
    carousel-sec-animate: 250ms
);

$cursor: (
    color: map-get($color, main),
    time: (
        in: 400ms,
        out: 300ms
    ),
    fn: (
        trans: cubic-bezier(0.75, -1.27, 0.3, 2.33),
        opacity: ease-in
    )
);

$scrolldown: (
    size: 30px,
    squareRoot: 1.41421,
    stroke: 2px,
    color: black,
    time: 800ms,
    stretchPercent: 2.5
);