body
    +size(100%, 100vh)
    position: relative
    overflow: hidden
.wrapper
    +size(100%)
    +noise
    cursor: none
    background: linear-gradient(to bottom, rgba(map-get($color, bg),1) 0%, rgba(map-get($color, bg),0) 100%)
    &::before
        z-index: 0
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0))
.container
    width: 100%
    max-width: 1280px
    margin: 0 auto


    