body
    +size(100%, 100vh)
    position: relative
    overflow: hidden
    cursor: none
.wrapper
    +size(100%)
    +noise
    
    background: linear-gradient(to bottom, rgba(map-get($color, bg),1) 0%, rgba(map-get($color, bg),.6) 100%)
    &::after
        content: ''
        +size(100%)
        +position(absolute,0,0)
        background-image: url('#{map-deep-get($const, pattern, grid)}')
        z-index: -1
        pointer-events: none
        // animation: test 40s infinite linear
    // &::before
    //     z-index: 0
    //     mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0))
.container
    width: 100%
    max-width: 1400px
    margin-right: auto
    margin-left: auto
    padding: 0 20px

// toggle index & pages
.wrapper.-pages-view
    .m-pages
        opacity: 1
        pointer-events: auto
    .o-carousel
        opacity: 0
        pointer-events: none
            

$cta-width: 120
$cta-moving: 2
.a-cta
    width: $cta-width + px
    display: inline-block
    position: relative
    padding: 15px
    margin-top: 30px
    color: map-get($color, sec)
    text-align: center
    line-height: 1
    &::before, &::after
        content: ''
        +size(100%)
        +position(absolute,0,0)
        border: 1px solid map-get($color, sec)
        transition: map-get($time, transition)
    &::before
        transform: translate($cta-moving * -1px, $cta-moving * 1px)
    &::after
        transform: translate($cta-moving * 1px, $cta-moving * -1px)
    &:hover
        &::before, &::after
            transform: translate(0)
            +size(($cta-width + $cta-moving * 2) / $cta-width * 100%)
