//- subtitle

.m-carousel__txt-content.-txt-content-2
    p.t-txt E-Learning System web UI, UX Design
    a.a-cta.t-cta.c-hover#cta-2(href='https://www.behance.net/gallery/100790169/E-Learning-Web-System-Design',target='_blank') Behance
.m-carousel__txt-content.-txt-content-3
    p.t-txt Inventory System App UI, UX Design
    a.a-cta.t-cta.c-hover#cta-3(href='https://www.behance.net/gallery/100223935/-APP-inventory-system-APP',target='_blank') Behance
.m-carousel__txt-content.-txt-content-4
    p.t-txt Movie App UI, UX Design
    a.a-cta.t-cta.c-hover#cta-2(href='https://www.behance.net/gallery/85549361/Cinema-in-time-Moive-App-Design',target='_blank') Behance
.m-carousel__txt-content.-txt-content-5
    p.t-txt Gym App UI, UX Design
    a.a-cta.t-cta.c-hover#cta-3(href='https://www.behance.net/gallery/84821305/Gym-App-UI-Design',target='_blank') Behance
.m-carousel__txt-content.-txt-content-6
    p.t-txt Some exercises
    .a-cta.t-cta.c-hover#cta-4 MORE
.m-carousel__txt-content.-txt-content-7
    //- p.t-txt CakeResume
    a.a-cta.t-cta.c-hover#cta-5(href='https://www.cakeresume.com/50d5fb',target='_blank') Resume
    a.a-cta.t-cta.c-hover#cta-6(href='mailto:fish89483@gmail.com',target='_blank') Email
