header.o-header
    .o-header__btn
        .a-burger
            span
            span
            span
    .o-header__menu
        .o-header__menu-mask
        .o-header__menu-content
            - var items = ['Cinema In Time', '大場感GYM', 'Front-End', 'Contact me']
            ul
                each item, index in items
                    li(id=`menu-${index+1+1}`, class=`c-hover`)=item