header.o-header
    .o-header__btn
        .a-burger
            span
            span
            span
    .o-header__menu
        .o-header__menu-mask
        .o-header__menu-content
            - var items = ['盛事公主號', '太陽公主號', '傳奇號', '傳奇號']
            ul
                each item, index in items
                    li(id=`menu-${index+1+1}`, class=`c-hover`)=item