-var text = 'ZHEYU XU'
.m-kv#js-kv
    .m-kv__stroke
        h1.t-kv-title=text
    .m-kv__img
        each layer in ['c', 'm', 'y','f']
            if(layer !='f')
                .m-kv__layer.-back(class=`m-ch-split__img -ch-${layer}`)
            else
                .m-kv__layer.-front
    .m-kv__noise
        h1.t-kv-title=text