-var text = 'fuuuuuuuck ya'
.m-kv#js-kv
    .m-kv__stroke
        h1=text
    .m-kv__img
        each layer in ['c','m','y']
            .m-kv__layer(class=`m-ch-separation__img -back -ch-${layer}`)
                .a-ch-img
        .m-kv__layer.-front
            .a-ch-img
    .m-kv__noise
        h1=text