//- pages
//- .m-pages__item#pages-2
//-     .container
//-         p.t-txt 2Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi officia quisquam similique nihil esse eaque architecto suscipit tempora accusamus? Quisquam saepe recusandae, iusto aperiam aspernatur pariatur officiis natus odit ex.



        
.m-pages__item#pages-4
    .container
        .m-pages-item__title.t-title
            h3 喜鴻假期
        .m-page-items
            .m-page-item.-cruise
                .m-page-item__pic
                .m-page-item__txt
                    h3.m-page-item__title.t-title 遊輪旅遊頁面切版 (不含設計)
                    p.m-page-item__describe.t-txt 學習滾動輪播及簡單CSS效果的應用
                    a.a-cta.t-cta.c-hover(href="https://www.besttour.com.tw/e_web/ThemeTravel/cruise/cruise/cruise.html" target="_blank") GO
            .m-page-item.-golf
                .m-page-item__pic
                .m-page-item__txt
                    h3.m-page-item__title.t-title 高爾夫頁面切版 (不含設計)
                    p.m-page-item__describe.t-txt 學習SVG的簡單應用
                    a.a-cta.t-cta.c-hover(href="https://www.besttour.com.tw/e_web/ThemeTravel/golf/golf.html" target="_blank") GO
            
        .m-pages-item__title.t-title
            h3 練習項目
        .m-page-items    
            .m-page-item.-codepen-pen
                .m-page-item__pic
                .m-page-item__txt
                    h3.m-page-item__title.t-title Pen
                    p.m-page-item__describe.t-txt 筆的使用動畫模擬 (Sass, Jquery)
                    a.a-cta.t-cta.c-hover(href="https://codepen.io/fish89483/full/BEGmMz" target="_blank") DEMO
            .m-page-item.-codepen-lego
                .m-page-item__pic
                .m-page-item__txt
                    h3.m-page-item__title.t-title LEGO
                    p.m-page-item__describe.t-txt LEGO的45度視角模擬 (Sass, Jquery)
                    a.a-cta.t-cta.c-hover(href="https://codepen.io/fish89483/full/jdEwRr" target="_blank") DEMO
            .m-page-item.-codepen-scrollspy
                .m-page-item__pic
                .m-page-item__txt
                    h3.m-page-item__title.t-title Scrollspy
                    p.m-page-item__describe.t-txt 滾動監聽 (Sass, Jquery)
                    a.a-cta.t-cta.c-hover(href="https://codepen.io/fish89483/full/WWJvqy" target="_blank") DEMO
            
            
        
        

.m-pages__item#pages-5
    .container
        p.t-txt 5Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi officia quisquam similique nihil esse eaque architecto suscipit tempora accusamus? Quisquam saepe recusandae, iusto aperiam aspernatur pariatur officiis natus odit ex.
    
