//- pages
.m-pages__item.-item-2
    .container
        p.t-txt 2Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi officia quisquam similique nihil esse eaque architecto suscipit tempora accusamus? Quisquam saepe recusandae, iusto aperiam aspernatur pariatur officiis natus odit ex.
        .a-cta test
.m-pages__item.-item-3
    .container
        p.t-txt 3Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi officia quisquam similique nihil esse eaque architecto suscipit tempora accusamus? Quisquam saepe recusandae, iusto aperiam aspernatur pariatur officiis natus odit ex.
.m-pages__item.-item-4
    .container
        p.t-txt 4Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi officia quisquam similique nihil esse eaque architecto suscipit tempora accusamus? Quisquam saepe recusandae, iusto aperiam aspernatur pariatur officiis natus odit ex.
.m-pages__item.-item-5
    .container
        p.t-txt 5Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi officia quisquam similique nihil esse eaque architecto suscipit tempora accusamus? Quisquam saepe recusandae, iusto aperiam aspernatur pariatur officiis natus odit ex.
