<!DOCTYPE html>
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/main.css")
        
        //- inject:css
        //- endinject
        //- inject:js
        //- endinject
    body
        .a-cursor
        .wrapper
            
            .o-carousel
                .o-carousel__item.-hide-top
                    .o-carousel__item-content
                        .o-carousel__item-title
                        img
                .o-carousel__item.-top
                    .o-carousel__item-content
                        .o-carousel__item-title
                        img
                        
                .o-carousel__item.-center
                    .o-carousel__item-content
                        .o-carousel__item-title
                        img
                        .m-kv#js-kv
                            .m-kv__stroke
                                h1 testtesttesttest 
                            .m-kv__img
                                each layer in ['c','m','y']
                                    .m-kv__layer(class=`m-ch-separation__img -back -ch-${layer}`)
                                        .a-ch-img
                                .m-kv__layer.-front
                                    .a-ch-img
                            .m-kv__noise
                                h1 testtesttesttest
                .o-carousel__item.-bottom
                    .o-carousel__item-content
                        .o-carousel__item-title
                        img
                
                .o-carousel__item.-hide-bottom
                    .o-carousel__item-content
                        .o-carousel__item-title
                        img
                .o-carousel__count
                    
                
            //- .kv
            
    script(src="js/main.js")
            //- .content