<!DOCTYPE html>
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/main.css")

    body
        .a-cursor
            span
        .wrapper
            .a-scrolldown
                span
                span
            .o-carousel
                - var items = ['hide-top', 'top', 'center', 'bottom', 'hide-bottom']
                each item in items
                    if item == 'center'
                        .o-carousel__item(class=`-${item}`)
                            .o-carousel__txt
                                .m-carousel__txt-item
                                    //- title
                                    .m-carousel__title.t-title
                                        .a-split__line
                                            h2
                                        .a-split__plane
                                            h2
                                    //- content
                                    .m-carousel__txt-content.-txt-content-2
                                        p.t-txt 2Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi officia quisquam similique nihil esse eaque architecto suscipit tempora accusamus? Quisquam saepe recusandae, iusto aperiam aspernatur pariatur officiis natus odit ex.
                                    .m-carousel__txt-content.-txt-content-3
                                        p.t-txt 3Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi officia quisquam similique nihil esse eaque architecto suscipit tempora accusamus? Quisquam saepe recusandae, iusto aperiam aspernatur pariatur officiis natus odit ex.
                                    .m-carousel__txt-content.-txt-content-4
                                        p.t-txt 4Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi officia quisquam similique nihil esse eaque architecto suscipit tempora accusamus? Quisquam saepe recusandae, iusto aperiam aspernatur pariatur officiis natus odit ex.
                            .o-carousel__content
                                //- item
                                .m-carousel__item
                                //- center:
                                include include/kv.pug
                                
                    else
                        .o-carousel__item(class=`-${item}`)
                            .o-carousel__txt
                                //- title
                                .m-carousel__txt-item
                                    //- title
                                    .m-carousel__title.t-title
                                        .a-split__line
                                            h2
                                        .a-split__plane
                                            h2
                            .o-carousel__content
                                //- item
                                .m-carousel__item

                .o-carousel__count


                
            
    script(src="js/main.js")