<!DOCTYPE html>
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/main.css")

     
    body
        .a-cursor
        .wrapper
            .o-carousel
                - var items = ['hide-top','top','center','bottom','hide-bottom']
                each item in items
                    .o-carousel__item(class=`-${item}`)
                        .o-carousel__item-content
                            .o-carousel__item-title
                        .o-carousel__item-img
                            img
                            if item == 'center'
                                //- .kv
                                include include/kv.pug

                .o-carousel__count


                
            
    script(src="js/main.js")
            //- .content