<!DOCTYPE html>
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", href="css/main.css")

    body
        .a-cursor
            span
        .wrapper
            //- include header
            include include/header.pug

            //- carousel
            .o-carousel
                .a-scrolldown
                    span
                .container
                    - var items = ['hide-top', 'top', 'center', 'bottom', 'hide-bottom']
                    each item in items
                        if item == 'center'
                            .o-carousel__item(class=`-${item}`)
                                .o-carousel__txt
                                    .m-carousel__txt-item
                                        //- title
                                        .m-carousel__title.t-title
                                            .a-split__line
                                                h2
                                            .a-split__plane
                                                h2

                                        //- include txt-content-------------------
                                        include include/carousel__txt-content.pug
                                        //- .m-carousel__txt-content--------------
                                        
                                .o-carousel__content
                                    //- item
                                    .m-carousel__item
                                    //- include kv
                                    include include/kv.pug
                                    
                        else
                            .o-carousel__item(class=`-${item}`)
                                .o-carousel__txt
                                    .m-carousel__txt-item
                                        //- title
                                        .m-carousel__title.t-title
                                            .a-split__line
                                                h2
                                            .a-split__plane
                                                h2

                                //- .o-carousel__content
                                //-     //- item
                                //-     .m-carousel__item-shadow
                                //-     .m-carousel__item

                .o-carousel__count

            //- pages
            .m-pages
                //- include pages
                include include/pages.pug
                

                
            
    script(src="js/main.js")