<!DOCTYPE html>
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/main.css")
        
        //- inject:css
        //- endinject
        //- inject:js
        //- endinject
    body
        .a-cursor
        .wrapper
            
            .o-carousel
                .o-carousel__item.-top
                    .o-carousel__item-title
                    .o-carousel__item-content
                        
                .o-carousel__item.-center
                    .o-carousel__item-title
                    .o-carousel__item-content
                        img
                    .m-kv#js-kv
                        .m-kv__stroke
                            h1 testtesttesttest 
                        .m-kv__img
                            each layer in ['back -c','back -m','back -y','front']
                                .m-kv__layer(class='-'+layer)
                                    .a-layer__img
                        .m-kv__noise
                            h1 testtesttesttest
                .o-carousel__item.-bottom
                    .o-carousel__item-title
                    .o-carousel__item-content
                        
                .o-carousel__count
                    
                
            //- .kv
            
    script(src="js/main.js")
            //- .content