<!DOCTYPE html>
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/main.css")
        script(src="js/main.js")
        //- inject:css
        //- endinject
        //- inject:js
        //- endinject
    body
        .kv
            .kv-title
                .kv-title__stroke
                    h1 testtesttesttesttest
                .kv-title__img
                    each layer in ['back -c','back -m','back -y','front']
                        .kv-title__layer(class='-'+layer)
                            .layer-img
                .kv-title__noise
                    h1 testtesttesttesttest
        .cursor
            
        .content