$target: '.o-carousel__txt'
    
.o-carousel
    +size(100%)
    position: relative
    overflow: hidden
    &__item
        +size(100%,50%)
        position: relative

        &.-center
        &.-hide-top,&.-hide-bottom

        &.-top, &.-bottom, &.-hide-top, &.-hide-bottom
            .o-carousel__content
                display: none
                opacity: 0
                pointer-events: none

        // run animate
        &.-start
            #{quote($target)}
                transition: map-deep-get($carousel, time, move)

        // original status
        &.-stop
            #{quote($target)}
                transition: 0s
        &.-stop
            &.-next
                #{quote($target)}
                    top: 100%
                    transform: translate(0,0)
            &.-prev
                #{quote($target)}
                    top: -100%
                    transform: translate(0,0)
        
            
        // finall status
        &.-animate
            .o-carousel__content
                +center(transform)
                transform: translate(-50%,-50%) rotateX(0deg)
                opacity: 1
                transition: map-deep-get($carousel,time,sec-move) ease

            &.-center
                .m-carousel__title
                    // -webkit-text-stroke: 1px #000
                    color: map-get($color, sec)
                    // opacity: 1
                    transition: map-deep-get($carousel,time,sec-move) ease
                .m-carousel__txt-content.-active
                    opacity: 1
                    // height: 200px
                    // margin-top: 30px
                    // transition: map-deep-get($carousel,time,sec-move) linear
                // .m-carousel__txt
                //     // min-height: 150px
                //     // height: auto
                //     height: 200px
                //     margin-top: 30px
                //     transform: translateY(0px)
                //     opacity: 1
                //     transition: map-deep-get($carousel,time,sec-move) ease

            &:not(.-kv-active)
                &.-top
                    .m-carousel__title
                        transform: translateY(100%)
                &.-bottom
                    .m-carousel__title
                        transform: translateY(-100%)

        // when kv is shown
        &.-kv-active
            &.-top, &.-bottom
                .m-carousel__txt-item
                    opacity: 0
            &.-center
                .m-carousel__txt-content
                    opacity: 0
                    // height: 0
                .m-kv
                    opacity: 1
                    pointer-events: auto
                    transition: map-deep-get($carousel,time,move)


    &__txt
        +size(50%,100%)
        +center(flex)
        +position(absolute,0,'',0,0)
        z-index: 1
        will-change: transform

    &__content
        +size(100%)
        +position(absolute,50%,'','',50%)
        display: flex
        justify-content: flex-end
        transform: translate(-40%,-50%) rotateX(95deg)
        opacity: 0
        perspective: 2000px
        transition: map-deep-get($carousel,time,sec-move)

    &__count
        +position(absolute,'',0,0)

.m-carousel
    &__txt-item
        width: 90%
        z-index: 1
        position: relative
    &__txt-content
        opacity: 0
        // height: 0
        // overflow: hidden
        position: absolute
        padding-top: 30px
        transition: map-deep-get($carousel,time,sec-move) height ease
        &.-txt-content-2
        
    &__title
        +size(100%,80px)
        display: block
        // -webkit-text-stroke: 1px rgba(0,0,0,.2)
        color: rgba(map-get($color, sec),0.1)
        // opacity: 0
        transition: map-deep-get($carousel,time,sec-move) transform ease

    // &__txt
    //     +size(100%,0px)
    //     display: block
    //     opacity: 0
    //     transform: translateY(20%)
        // transition: 50ms

    &__item
        +size(43.5%,100%)
        +bg('',center,cover)
        +position(absolute)
        // +noise('after')
        // +ratio(16,9)
        transition: map-get($time, smooth) linear
        will-change: transform