$target: '.o-carousel__txt'
    
  
.o-carousel
    +size(100%)
    position: relative
    overflow: hidden
    &__item
        +size(100%,50%)
        position: relative
        &.-top,&.-bottom
            
            // opacity: 0
        &.-center
        &.-top,&.-bottom,&.-hide-top,&.-hide-bottom
            .o-carousel__content
                opacity: 0
                pointer-events: none
                display: none
        &.-hide-top,&.-hide-bottom
            // opacity: 0
        &.-start
            #{quote($target)}
                transition: map-get($time, carousel-move) 
        &.-stop
            #{quote($target)}
                transition: 0s
        &.-stop
            &.-next
                #{quote($target)}
                    top: 100%
                    transform: translate(-50%,0)
            &.-prev
                #{quote($target)}
                    top: -100%
                    transform: translate(-50%,0)
        &.-animate
            .o-carousel__content
                +center(transform)
                transform: translate(-50%,-50%) rotateX(0deg)
                opacity: 1
                transition: 250ms
    &__txt
        +size(100%)
        +position(absolute)
        +center(transform)

    &__content
        +size(100%)
        +center(transform)
        transform: translate(-40%,-50%) rotateX(95deg)
        position: absolute
        transition: 250ms
        opacity: 0
        display: flex
        justify-content: flex-end
        perspective: 2000px

    &__count
        +position(absolute,'',0,0)

.m-carousel
    &__txt-item
        width: 50%
    
    &__title
        // position: absolute
        z-index: 1

    &__item
        +size(43.5%,100%)
        
        +bg('',center,cover)
        +position(absolute)
        +noise('after')
        // +ratio(16,9)
        will-change: transform
        transition: 100ms linear