$target: '.o-carousel__txt'
    
  
.o-carousel
    +size(100%)
    position: relative
    overflow: hidden
    &__item
        +size(100%,50%)
        position: relative
        // &.-top
        //     .m-carousel__title
        //         transform: translateY(100%)
        // &.-bottom
        //     .m-carousel__title
        //         transform: translateY(-100%)
        
           
        &.-center

        &.-top, &.-bottom, &.-hide-top, &.-hide-bottom
            .o-carousel__content
                opacity: 0
                pointer-events: none
                display: none
        &.-hide-top,&.-hide-bottom


        // run animate
        &.-start
            #{quote($target)}
                transition: map-get($time, carousel-move) 


        // original status
        &.-stop
            #{quote($target)}
                transition: 0s
        &.-stop
            &.-next
                #{quote($target)}
                    top: 100%
                    transform: translate(0,0)
            &.-prev
                #{quote($target)}
                    top: -100%
                    transform: translate(0,0)

        // finall status

        &.-animate
            .o-carousel__content
                +center(transform)
                transform: translate(-50%,-50%) rotateX(0deg)
                opacity: 1
                transition: map-get($time, carousel-sec-animate)
            &.-center
                .m-carousel__title
                    
                    // -webkit-text-stroke: 1px #000
                    color: rgba(0,0,0,1)
                    opacity: 1
                    transition: map-get($time, carousel-sec-animate) ease
                    
                .m-carousel__txt
                    opacity: 1
                    transform: translateY(0px)
                    transition: map-get($time, carousel-sec-animate) ease

                    height: 150px
                    margin-top: 30px
                    // position: static
            
            &.-top
                .m-carousel__title
                    transform: translateY(100%)
            &.-bottom
                .m-carousel__title
                    transform: translateY(-100%)

        // when kv is shown
        &.-kv-active 
            &.-top, &.-bottom                
                .m-carousel__txt-item
                    opacity: 0
            &.-center
                .m-kv
                    opacity: 1
                    pointer-events: auto
                    transition: map-get($time, carousel-move)


    &__txt
        +size(50%,100%)
        +position(absolute,50%,'','',0)
        transform: translateY(-50%)
        +center(flex)
        z-index: 1

    &__content
        +size(100%)
        +center(transform)
        transform: translate(-40%,-50%) rotateX(95deg)
        position: absolute
        transition: map-get($time, carousel-sec-animate)
        opacity: 0
        display: flex
        justify-content: flex-end
        perspective: 2000px

    &__count
        +position(absolute,'',0,0)

.m-carousel
    &__txt-item
        width: 90%
        z-index: 1
    &__title
        display: block
        +size(100%,80px)
        font-size: 5em
        font-weight: 800
        // -webkit-text-stroke: 1px rgba(0,0,0,.2)
        color: rgba(0,0,0,0.1)
        // opacity: 0
        
        transition: map-get($time, carousel-sec-animate) ease transform

    &__txt
        display: block
        +size(100%,0px)
        opacity: 0
        transform: translateY(20%)
        // transition: 50ms
        // position: absolute

    &__item
        +size(43.5%,100%)
        +bg('',center,cover)
        +position(absolute)
        +noise('after')
        // +ratio(16,9)
        will-change: transform
        transition: 100ms linear