// _ch-split

.m-ch-split__img
    +position(absolute,0,0)
    +bg('',center,cover)
    background-blend-mode: screen
    mix-blend-mode: darken
    &.-ch-c
        background-color: #0ff
    &.-ch-m
        background-color: #f0f
    &.-ch-y
        background-color: #ff0