.a-cursor
    +size(100%)
    +position(absolute,0,'','',0)
    overflow: hidden
    span
        +size(10px)
        +position(absolute,0,'','',0)
        background-color: map-get($cursor, color)
        border-radius: 99em
        z-index: 100
        pointer-events: none
        transition: transform map-deep-get($cursor,fn,trans), opacity map-deep-get($cursor,fn,opacity)
        transition-duration: map-deep-get($cursor,time,out), map-deep-get($cursor,time,out)
        will-change: transform
    &.-active
        span
            transform: scale(5)
            opacity: 0.3
            transition-duration: map-deep-get($cursor, time, in), map-deep-get($cursor, time, in)
                