.m-kv
    +size(100%, 100vh)
    // background-color: #ffffff
    +position(absolute,-50%,0)
    +center
    // overflow: hidden
    // display: none
    transition: map-get($time, carousel-move) map-get($time, carousel-move) /4 *3 *-1
    opacity: 0
    pointer-events: none
    
    &__noise
        pointer-events: none
        h1
            +noise('bg')
            background-clip: text
            color: rgba(map-get($color, main), 0.9)
    &__stroke
        +position(absolute)
        z-index: 2
        h1
            color: transparent
            -webkit-text-stroke: 1px rgba(map-get($color, main), 0.9)
    &__img
        width: 40%
        max-width: 450px
        +position(absolute,50%,'','',70%)
        +ratio(1,1)
        transform: translate(-50%,-50%)
        z-index: 1
        transform-style: preserve-3d
        // +center(transform)
        // border-radius: 99em
        // overflow: hidden
    &__layer
        +size(100%)
        +position(absolute,0,'','',0)
        transition: 100ms linear
        will-change: transform
        &.-back
            clip-path: circle(50%)
            +noise
            .a-ch-img
                background-image: url(map-get($img, back))
        &.-front
            clip-path: circle(50%)
            .a-ch-img
                background-image: url(map-get($img, front))
    .a-ch-img
        +bg('',center 20%,cover)
        transform: scale(1.1)

    
