 
.a-scrolldown
    +size(map-get($scrolldown, size))
    +position(absolute,'','',2%,calc(50% - #{map-get($scrolldown, size)}))
    z-index: 5
    transition: map-get($scrolldown, time)
    span
        &:nth-child(1)
            +size(100%/map-get($scrolldown, root-of-2))
            +position(absolute,50%,'','',50%)
            transform: translate(-50%,-50%) rotate(135deg)
            &::before,&::after
                content: ''
                +size(100%,map-get($scrolldown, stroke))
                +position(absolute)
                background-color: map-get($scrolldown, color)
                border-radius: 99em
            &::after
                transform-origin: right
                transform: translate(map-get($scrolldown, stroke)/-2,map-get($scrolldown, stroke)/-2) rotate(-90deg)
        &:nth-child(2)
            +size(map-get($scrolldown, stroke),250%)
            +position(absolute,'','',map-get($scrolldown, stroke),50%)
            background-color: map-get($scrolldown, color)
            transform: translateX(-50%)
            animation: scrolldown map-get($scrolldown, time) map-get($scrolldown, time) infinite 
    
    &:hover
        span
            &:nth-child(1)
            &:nth-child(2)
                // animation-play-state: paused

    // // when kv is shown
    // &.-kv-active
    //     bottom: 2%
    //     opacity: 1


  


